Node_red_flow.txt
[{"id":"36070206.96f2ee","type":"tab","label":"Flow 7","disabled":false,"info":""},{"id":"f716a3e6.4535e","type":"ibmiot in","z":"36070206.96f2ee","authentication":"apiKey","apiKey":"e4b97a5.9a7c688","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":50,"y":340,"wires":[["3b8fba12.f7ac26"]]},{"id":"f0647de7.91b9b","type":"debug","z":"36070206.96f2ee","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":40,"wires":[]},{"id":"792ba107.d9103","type":"switch","z":"36070206.96f2ee","name":"","property":"payload.total","propertyType":"msg","rules":[{"t":"lt","v":"200","vt":"num"},{"t":"gte","v":"200","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":120,"wires":[["f0647de7.91b9b","5e137290.a5b82c"],["8d2bc979.b96678","5e137290.a5b82c"]]},{"id":"14c44055.902d1","type":"debug","z":"36070206.96f2ee","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1130,"y":440,"wires":[]},{"id":"8d2bc979.b96678","type":"function","z":"36070206.96f2ee","name":"","func":"msg.payload={\n    \"message\":\"Empty Bin 1\",\n    \"name\":global.get('name'),\n    \"lat\":global.get('lat'),\n    \"lon\":global.get('lon')\n    \n}\nmsg.payload.locs=\"lat: \"+msg.payload.lat+\",\"+\"lon: \"+msg.payload.lon\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":160,"wires":[["ded7ce0a.4e078"]]},{"id":"ded7ce0a.4e078","type":"http request","z":"36070206.96f2ee","name":"fast2sms","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulkV2?authorization=yIqc3zvm0uhjXHter7nl8FSDbadkCgNYJKxRLP96WG1sQ5MZ2UbgfqK5VjTr4xA3hFmapNJUoXsdSPEu&route=q&message={{payload.message}}%0a{{payload.locs}}&language=english&flash=0&numbers=9840129233","tls":"","persist":false,"proxy":"","authType":"","x":1120,"y":380,"wires":[["14c44055.902d1"]]},{"id":"58a46af0.e28364","type":"ui_gauge","z":"36070206.96f2ee","name":"","group":"6051a67d.78c298","order":1,"width":3,"height":3,"gtype":"wave","title":"Bin 1","label":"KG","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1070,"y":120,"wires":[]},{"id":"5e137290.a5b82c","type":"function","z":"36070206.96f2ee","name":"","func":"msg.payload=msg.payload.total\nlet total =msg.payload\nif (total>=200) {\nmsg.payload=200\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":120,"wires":[["58a46af0.e28364"]]},{"id":"b64e8793.619aa8","type":"geofence","z":"36070206.96f2ee","name":"","mode":"circle","inside":"both","rad":0,"points":[],"centre":{"latitude":0,"longitude":0},"floor":"","ceiling":"","worldmap":false,"outputs":1,"x":660,"y":120,"wires":[["792ba107.d9103"]]},{"id":"25dbee18.6a4272","type":"function","z":"36070206.96f2ee","name":"","func":"var name=msg.payload.name\nvar weight=msg.payload.weight\nvar total=msg.payload.total\nvar lat=msg.payload.lat\nvar lon=msg.payload.lon\nglobal.set('lat',lat)\nglobal.set('lon',lon)\nglobal.set('name',name)\nglobal.set('weight',weight)\nglobal.set('total',total)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":80,"wires":[["1990d42a.fe221c","f0647de7.91b9b"]]},{"id":"1990d42a.fe221c","type":"function","z":"36070206.96f2ee","name":"","func":"msg.payload={\n    'name':global.get('name'),\n    'lat':global.get('lat'),\n    'lon':global.get('lon'),\n    'weight':global.get('weight'),\n    'total':global.get('total')\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":120,"wires":[["b64e8793.619aa8","e8186601.162a28","71262965.f2ba78"]]},{"id":"e8186601.162a28","type":"ui_worldmap","z":"36070206.96f2ee","group":"6051a67d.78c298","order":10,"width":11,"height":7,"name":"","lat":"13.0118553","lon":"80.2612621","zoom":"18","layer":"Esri","cluster":"","maxage":"","usermenu":"show","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/worldmap","x":1100,"y":300,"wires":[]},{"id":"3b8fba12.f7ac26","type":"switch","z":"36070206.96f2ee","name":"","property":"payload.name","propertyType":"msg","rules":[{"t":"eq","v":"Bin 1","vt":"str"},{"t":"eq","v":"Bin 2","vt":"str"},{"t":"eq","v":"Bin 3","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":170,"y":340,"wires":[["25dbee18.6a4272"],["b4943c77.68544"],["68dcc449.939c2c"]]},{"id":"8794237b.e1a49","type":"debug","z":"36070206.96f2ee","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":260,"wires":[]},{"id":"639d292d.9a2e28","type":"switch","z":"36070206.96f2ee","name":"","property":"payload.total","propertyType":"msg","rules":[{"t":"lt","v":"200","vt":"num"},{"t":"gte","v":"200","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":360,"wires":[["8794237b.e1a49","3063c057.4b277"],["5171a4b7.97245c","3063c057.4b277"]]},{"id":"5171a4b7.97245c","type":"function","z":"36070206.96f2ee","name":"","func":"msg.payload={\n    \"message\":\"Empty Bin 2\",\n    \"name\":global.get('name2'),\n    \"lat\":global.get('lat2'),\n    \"lon\":global.get('lon2')\n    \n}\nmsg.payload.locs=\"lat: \"+msg.payload.lat+\",\"+\" lon: \"+msg.payload.lon\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":380,"wires":[["ded7ce0a.4e078"]]},{"id":"74a12d60.69eaf4","type":"ui_gauge","z":"36070206.96f2ee","name":"","group":"6051a67d.78c298","order":3,"width":3,"height":3,"gtype":"wave","title":"Bin 2","label":"KG","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":970,"y":340,"wires":[]},{"id":"3063c057.4b277","type":"function","z":"36070206.96f2ee","name":"","func":"msg.payload=msg.payload.total\nlet total =msg.payload\nif (total>=200) {\nmsg.payload=200\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":340,"wires":[["74a12d60.69eaf4"]]},{"id":"bf79cfc2.0a911","type":"geofence","z":"36070206.96f2ee","name":"","mode":"circle","inside":"both","rad":0,"points":[],"centre":{"latitude":0,"longitude":0},"floor":"","ceiling":"","worldmap":false,"outputs":1,"x":540,"y":360,"wires":[["639d292d.9a2e28"]]},{"id":"b4943c77.68544","type":"function","z":"36070206.96f2ee","name":"","func":"var name=msg.payload.name\nvar weight=msg.payload.weight\nvar total=msg.payload.total\nvar lat=msg.payload.lat\nvar lon=msg.payload.lon\nglobal.set('lat2',lat)\nglobal.set('lon2',lon)\nglobal.set('name2',name)\nglobal.set('weight2',weight)\nglobal.set('total2',total)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":260,"wires":[["c1af5b94.c3ac98","8794237b.e1a49"]]},{"id":"c1af5b94.c3ac98","type":"function","z":"36070206.96f2ee","name":"","func":"msg.payload={\n    'name':global.get('name2'),\n    'lat':global.get('lat2'),\n    'lon':global.get('lon2'),\n    'weight':global.get('weight2'),\n    'total':global.get('total2')\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":320,"wires":[["bf79cfc2.0a911","e8186601.162a28","3e354364.cdc0ac"]]},{"id":"bea1ac3e.3e0a3","type":"debug","z":"36070206.96f2ee","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":500,"wires":[]},{"id":"3085da28.ab9226","type":"switch","z":"36070206.96f2ee","name":"","property":"payload.total","propertyType":"msg","rules":[{"t":"lt","v":"200","vt":"num"},{"t":"gte","v":"200","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":580,"wires":[["bea1ac3e.3e0a3","93a619a8.592848"],["fc111c30.8fbc5","93a619a8.592848"]]},{"id":"fc111c30.8fbc5","type":"function","z":"36070206.96f2ee","name":"","func":"msg.payload={\n    \"message\":\"Empty Bin 3\",\n    \"name\":global.get('name3'),\n    \"lat\":global.get('lat3'),\n    \"lon\":global.get('lon3')\n}\nmsg.payload.locs=\"lat: \"+msg.payload.lat+\",\"+\" lon: \"+msg.payload.lon\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":620,"wires":[["ded7ce0a.4e078"]]},{"id":"f5de9c80.53c29","type":"ui_gauge","z":"36070206.96f2ee","name":"","group":"6051a67d.78c298","order":5,"width":3,"height":3,"gtype":"wave","title":"Bin 3","label":"KG","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":890,"y":560,"wires":[]},{"id":"93a619a8.592848","type":"function","z":"36070206.96f2ee","name":"","func":"msg.payload=msg.payload.total\nlet total =msg.payload\nif (total>=200) {\nmsg.payload=200\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":560,"wires":[["f5de9c80.53c29"]]},{"id":"df04c7f2.791a18","type":"geofence","z":"36070206.96f2ee","name":"","mode":"circle","inside":"both","rad":0,"points":[],"centre":{"latitude":0,"longitude":0},"floor":"","ceiling":"","worldmap":false,"outputs":1,"x":460,"y":580,"wires":[["3085da28.ab9226"]]},{"id":"68dcc449.939c2c","type":"function","z":"36070206.96f2ee","name":"","func":"var name=msg.payload.name\nvar weight=msg.payload.weight\nvar total=msg.payload.total\nvar lat=msg.payload.lat\nvar lon=msg.payload.lon\nglobal.set('lat3',lat)\nglobal.set('lon3',lon)\nglobal.set('name3',name)\nglobal.set('weight3',weight)\nglobal.set('total3',total)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":500,"wires":[["c43b60e8.0235f","bea1ac3e.3e0a3"]]},{"id":"c43b60e8.0235f","type":"function","z":"36070206.96f2ee","name":"","func":"msg.payload={\n    'name':global.get('name3'),\n    'lat':global.get('lat3'),\n    'lon':global.get('lon3'),\n    'weight':global.get('weight3'),\n    'total':global.get('total3')\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":560,"wires":[["df04c7f2.791a18","e8186601.162a28","5dd8e96.97a8918"]]},{"id":"7d5e2e99.dd72a","type":"http in","z":"36070206.96f2ee","name":"","url":"/bin2","method":"get","upload":false,"swaggerDoc":"","x":320,"y":360,"wires":[["c1af5b94.c3ac98"]]},{"id":"71262965.f2ba78","type":"http response","z":"36070206.96f2ee","name":"","statusCode":"","headers":{},"x":610,"y":80,"wires":[]},{"id":"3e354364.cdc0ac","type":"http response","z":"36070206.96f2ee","name":"","statusCode":"","headers":{},"x":610,"y":280,"wires":[]},{"id":"5dd8e96.97a8918","type":"http response","z":"36070206.96f2ee","name":"","statusCode":"","headers":{},"x":430,"y":520,"wires":[]},{"id":"b5d4d91c.c23d58","type":"http in","z":"36070206.96f2ee","name":"","url":"/bin3","method":"get","upload":false,"swaggerDoc":"","x":120,"y":560,"wires":[["c43b60e8.0235f"]]},{"id":"f63cf68c.75b558","type":"http in","z":"36070206.96f2ee","name":"","url":"/bin1","method":"get","upload":false,"swaggerDoc":"","x":320,"y":140,"wires":[["1990d42a.fe221c"]]},{"id":"e4b97a5.9a7c688","type":"ibmiot","name":"IOT","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"6051a67d.78c298","type":"ui_group","name":"swms","tab":"3ecc7d84.301942","order":4,"disp":true,"width":11,"collapse":false},{"id":"3ecc7d84.301942","type":"ui_tab","name":"Smart Home","icon":"dashboard","disabled":false,"hidden":false}]